body{
    text-align: center;
    background-color: aliceblue;
    background-image: linear-gradient(#3A4F7A, #FEA1BF);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.index{
    display: inline-block;
    width: 40%;
}

h1{
    color:plum;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4em;
}

.main{
    display: inline;
}

input{
    border-color: lightyellow;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
}

.email{
    /*color:palegreen;*/
    color: #FFE7CC;
    font-size: 1.5em;
}

.password{
    color: #FFE7CC; 
    font-size: 1.5em;
}